:root {
    --primary-color: #474935;
    --secondary-color: #25443d;
    --heading-font: "Segoe UI", Arial, sans-serif;
    --body-font: "Segoe UI", Tahoma, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header,
main,
footer {
    width: 1100px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

footer p {
    text-align: center;
}

.socialmedia {
    position: absolute;
    right: 0;
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    opacity: 0.7;
    color: white;
}

h2 {
    margin: 1rem;
}

.hero article {
    position: absolute;
    top: 90px;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
}

.hero article img {
    float: right;
    margin: 1rem;
    width: 150px;
    height: auto;
    padding: 1px;
    border: 1px solid black;
}

header {
    display: grid;
    grid-template-columns: 250px 5fr 1fr;
    align-items: center;
    padding: 1rem 2rem;
}

nav {
    margin: 0;
    padding: 0;
    justify-self: end;
}

nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

.history {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adventures {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

figure {
    text-align: center;
}

figure img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    display: block;
    margin: 1rem;
}