* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.6);
    padding: 3rem;
    background-color: antiquewhite;
}

h1 {
    margin: .5rem;
}

form {
    background-color: aliceblue;
}

code {
    display: block;
    background-color: black;
    color: white;
}

input,
textarea,
select {
    padding: .75rem;
    width: 300px;
}

button {
    background-color: navy;
    border: 1px solid #999;
    color: white;
    padding: 7px;
    display: block;
    margin: 0 auto;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.6);
    padding: 1rem;
}

.quiz-item {
    border: none;
}