:root {
    --primary-color: steelblue;
    --border: 1px solid rgb(0 0 0 / 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
}

h1 {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

p {
    padding: 0;
}

aside {
    width: 30rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: whitesmoke;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 300px;
    height: auto;
}

aside h2 {
    color: var(--primary-color);
    position: absolute;
    left: 130px;
}

footer {
    margin-top: 2rem;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */

.box {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: whitesmoke;
    color: #333;
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}